{% extends 'base.html' %}
{% block meta %}
    <meta http-equiv="refresh" content="15">
{% endblock %}
{% block content %}
    <div class="jumbotron text-center">
        <h1>Decimo</h1>
        <h5>Making decision making easy and informative.</h5>
        <a class="btn btn-primary" style="margin-top: 15px;" href="/decimo/question/">Start Decision Making now >></a>

    </div>
    <h4 class="text-success text-center">Already submitted</h4>
    <div id="piechart_3d" style="height: 400px; width: 400px;"></div>
{% endblock %}