{% extends 'base.html' %}
{% block content %}
    <form class="form-horizontal" action="{{ decima.get_absolute_url }}" method="POST">
        <fieldset>
            <legend>{{ decima.question }}</legend>
            {% csrf_token %}
            <div class="form-group">
                {% for option in decima.question.options.all %}
                    <div class="radio">
                        <label>
                            <input name="option" value="{{ option.id }}" type="radio">
                            {{ option }}
                        </label>
                    </div>
                {% endfor  %}
            </div>
            <div class="form-group">
                <div class="col-lg-4 col-lg-offset-8">
                    <button type="submit" class="btn btn-primary btn-block" >Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}