{% extends 'base.html' %}
{% block content %}
    <div class="col-lg-12">

        <form class="form-horizontal" method="post" action="{{ question.get_invite_url }}">
            <fieldset>
                <legend>Invite your friends</legend>
                {% csrf_token %}
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Select All
                        </label>
                    </div>
                </div>
                {% for user in users %}
                    <h6>{{ user.email }}</h6>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Invite</button>
            </fieldset>
        </form>
    </div>
    <div class="col-lg-12 text-center">
        <a href="{{ question.get_absolute_url }}" >Go to Report Page</a>
    </div>

{% endblock %}